.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header-div {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.App-tree-root {
    /* flex: 1; */
    text-align: left;
    position: relative;
    left: 0px;
}

/* .App-tree-node::before{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left: 8px solid currentColor;
    position: absolute;
    top: 8px;
    left: -15px;
} */

.App-tree-node-father {
    display: flex;
    flex-direction: row;
}

.App-tree-node-left {
    width: 30px;
    background-color: #61dafb;
    /* border-right: 1px dotted #000000;  */
    text-align: center;
}

.App-tree-node-left>p {
    display: flex;
    justify-content:center;
    align-items:Center;
    font-size: 16px;
    height: 1em;
    margin: .5em 0;
    color: #ff0f0f;
}

.App-tree-node-line {
    width: 0;
    height: calc(100% - 32px);
    border-right: 1px dotted #999; 
    margin-left: 15px;
}

.App-tree-node {
    color: #000000;
    font-size: 16px;
    cursor: pointer;
}

.App-tree-node-selected {
    color: #ff0f0f;
}

.App-p {
    color: #000000;
}

.App-btn {
    margin-top: 15px;
}

.App-History {
    /* flex: 1; */
}

.App-History-a {
    display: block;
}