.newproduct-root {
    width: 1000px;
    margin: 0 auto;
    /* background-color: hotpink; */
}

.newproduct-form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
}

.newproduct-form-item {
    width: 33.33%;
    padding: 0 1em;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.newproduct-form-title {
    flex: 1;
    text-align: right;
    max-width: 10em;
    height: 100%;
    margin-bottom: 24px;
    /* background-color: aquamarine; */
}

.newproduct-form-input {
    flex: 3;
    max-width: 20em;
    height: 100%;
    padding-left: 1em;
    /* background-color: darkcyan; */

}

.newproduct-form-component{
    width: 100%;
}

.newproduct-form-button {
    width: 200px;
}